* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #daeae8;
}

section.container {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

img.site-logo {
  width: 100%;
  max-width: 280px;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 15px;
  color: #584d4d;
  text-align: center;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  color: #000;
  margin-bottom: 12px;
}

a {
  color: #000;
}

img.divider {
  width: 100%;
  margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
  section.container {
    max-width: 770px;
    padding: 50px 120px 50px 120px;
  }
}
